---
layout: default
title: CV
permalink: /cv/
---

<style>
.site-nav {
    display: none;
}
.site-footer {
    display: none;
}
.cv-item span {
    display: inline-block;
}
.cv-item .right {
    float: right;
}
.intro-box div {
    display: inline-block;
}
</style>

<div class="intro-box">
<div style="width: 65%">
{{ site.description }}<br>
Email: {{ site.email }}
</div>
<div style="width: 30%">
{%- include social.html -%}
</div>
</div>

<h2>Education</h2>

{% for item in site.data.education %}
<div class="cv-item">
<span><b>{{ item.school }}</b></span><span>&nbsp;<small>{{ item.location }}</small></span>
<span class="right"><em>{{ item.timespan }}</em></span><br>
<span><small>{{ item.depart }}</small></span><span class="right"><small>{{ item.degree }}</small></span>
</div>
<ul>
{% for ditem in item.details %}
<li>{{ ditem }}</li>
{% endfor %}
</ul>
{% endfor %}

<h2>Publication</h2>

{% for item in site.data.publication %}
<p>
<b>{{ item.title }}</b><br>
<em>{{ item.author }}</em><br>
in {{ item.booktitle }}, {{ item.year }}
</p>
{% endfor %}