---
layout: default
title: CV
permalink: /cv/
---

<style>
.site-footer, .site-nav {
  display: none;
}
.cv-item .right {
  float: right;
}
.intro-box div, .cv-item span {
  display: inline-block;
  vertical-align: top;
}
.cv-item .small {
  font-size: small;
  line-height: 1.2;
}
ul {
  margin-left: 20px;
  list-style-type: circle;
}
.skill-table {
  border: none;
  color: black;
}
.skill-table td, .skill-table th {
  border: none;
  padding: 1px;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0);
}
.skill-table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0);
}
h2 {
  border-bottom: 1px solid black;
}
</style>

<div class="intro-box">
<div style="width: 68%;">
{{ site.description }}<br>
Email: {{ site.email }}
</div>
<div style="width: 30%;">
{%- include social.html -%}
</div>
</div>

<h2>Education</h2>

{% for item in site.data.education %}
<div class="cv-item">
<span><b>{{ item.school }}</b></span>&nbsp;<span><small>{{ item.location }}</small></span>
<span class="right"><em>{{ item.timespan }}</em></span><br>
<span class="small">{{ item.depart }}</span><span class="right small">{{ item.degree }}</span>
</div>
<ul>
{% for ditem in item.details %}
<li>{{ ditem }}</li>
{% endfor %}
</ul>
{% endfor %}

<h2>Publication</h2>

{% for item in site.data.publication %}
<p>
<b>{{ item.title }}</b><br>
<small><em>{{ item.author }}</em></small><br>
in {{ item.booktitle }}, {{ item.year }}
</p>
{% endfor %}

<h2>Experience</h2>

{% for item in site.data.experience %}
<div class="cv-item">
<span><b>{{ item.organization }}</b></span>&nbsp;<span><small>{{ item.location }}</small></span>
<span class="right"><em>{{ item.timespan }}</em></span><br>
<span class="small">{{ item.position }}</span>
</div>
<ul>
{% for ditem in item.details %}
<li>{{ ditem }}</li>
{% endfor %}
</ul>
{% endfor %}

<h2>Awards & Honors</h2>

<ul>
<li>First Prize, ASC19 Student Supercomputer Challenge, <em>Dalian, China, 2019;</em></li>
<li>Honorable Mention, Interdisciplinary Contest in Modeling, <em>2018;</em></li>
<!-- <li>Excellent Student Leader, Shanghai Jiao Tong University, Shanghai, China, 2018;</li> -->
<li>Scholarship for Excellent Students, Shanghai Jiao Tong University, <em>Shanghai, China, 2017;</em></li>
<li>First Prize, National Olympiad in Informatics in Provinces, <em>Sichuan, China, 2014;</em></li>
</ul>

<h2>Skills</h2>

<table class="skill-table">
<tbody>
<tr><th rowspan="3">Language Proficiency</th><td>TOEFL 105 (Reading 27 Listening 28 Speaking 23 Writing 27),</td></tr>
<tr>                                         <td>GRE General 326 (Verbal 157 Quantitative 169 AW 3.5),</td></tr>
<tr>                                         <td>Purdue Oral English Proficiency Test 50 (Certified for TA);</td></tr>
<tr><th rowspan="2">Computer Skills</th><td>C++/C, Python, Scala, Coq, Haskell, StandardML, Racket,</td></tr>
<tr>                                    <td>HTML/CSS, JavaScript, bash, LaTeX;</td></tr>
<tr><th>Interests</th><td>Violin, Photography, Psychology;</td></tr>
</tbody>
</table>