{% assign selected = include.tags | split: "," %}
{% for item in site.data.experience %}
{% unless item.tag %}{% continue %}{% endunless %}
{% if include.tags %}{% unless selected contains item.tag %}{% continue %}{% endunless %}{% endif %}
<div class="cv-item">
<span><b>{{ item.organization }}</b></span>&nbsp;<span><small>{{ item.location }}</small></span>
<span class="right">{{ item.timespan }}</span>
{% if item.position %}<br><span class="small">{{ item.position }}</span>{% endif %}
{% if item.details %}
<ul>
{% for ditem in item.details %}
{% assign cols = ditem | split: "|" %}
<li>{{ cols[0] | strip }}{% if cols.size > 1 %}<span class="right">{{ cols[1] | strip }}</span>{% endif %}</li>
{% endfor %}
</ul>
{% endif %}
</div>
{% endfor %}
