{% for item in site.data.experience %}
{% unless item.tags contains include.tag %}{% continue %}{% endunless %}
<div class="cv-item">
<span><b>{{ item.organization }}</b></span>&nbsp;<span><small>{{ item.location }}</small></span>
<span class="right"><em>{{ item.timespan }}</em></span>
{% if item.position %}<br><span class="small">{{ item.position }}</span>{% endif %}
{% if item.details %}
<ul>
{% for ditem in item.details %}
<li>{{ ditem }}</li>
{% endfor %}
</ul>
{% endif %}
</div>
{% endfor %}
