---
layout: default
---

<style>
.site-footer, .site-nav {
  display: none;
}
.cv-item .right {
  float: right;
}
.intro-box div, .cv-item span {
  display: inline-block;
  vertical-align: top;
}
.cv-item .small {
  font-size: small;
  line-height: 1.2;
}
ul {
  margin-left: 20px;
  list-style-type: circle;
}
table {
  border: none;
  color: black;
}
table td, table th {
  border: none;
  padding: 1px;
}
table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0);
}
table td:first-child {
  font-weight: bold;
}
h2 {
  border-bottom: 1px solid black;
}
</style>

{{ content }}